*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 60%;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: white;
    --main-color: #00ff51;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
section{
    min-height: 1vh;
    padding: 10rem 10%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    color: #00ff51;
}
.home-content h3{
    font-size: 4rem;
    margin: 1rem 0;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 2ovw;
    border-radius: 50%;
}
.about{
    display: flex;
    justify-content: flex;
    align-items: center;
    gap: 5rem;
    background-color: var(--second-bg-color);
}
.about-img img{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color);
              : 0 0 50px var(--main-color);
              : 0 0 100px var(--main-color);
}
.about-content h2{
    font-size: 6rem;
    text-align: left;
    margin-bottom: 60px;
}
.about-content h3{
    font-size: 3rem;
    text-align: left;
    color: var(--main-color);
}
.about-content p{
    font-size: 1.8rem;
}
.contact{
    background-color: var(--second-bg-color);
    margin-top: 30px;
    align-items: center;

}
.contact h2{
    margin-bottom: 5rem;
    color: var(--main-color);
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
.contact p{
    font-size: 20px;
    text-decoration: none;
}
footer{
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
}
.container{
    width: 1140px;
    height: auto;
    margin: auto;
    padding: 40px 0px;
}
.copyright{
    text-align: center;
    padding: 30px 0px;
}
@media (max-width: 1350px) {
    .header {
        padding: 4rem 5%;
    }
    section {
        padding: 10rem 5%;
    }
    .home-content h1 {
        font-size: 7rem;
    }
    .home-content h3 {
        font-size: 3.5rem;
    }
    .about {
        gap: 5rem;
    }
    .about-content h2 {
        font-size: 5rem;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 3rem 4%;
    }
    section {
        padding: 8rem 4%;
    }
    .home {
        flex-direction: column-reverse;
        text-align: center;
    }
    .home-content {
        align-items: center;
        text-align: center;
    }
    .home-content h1 {
        font-size: 6rem;
    }
    .home-content h3 {
        font-size: 3rem;
    }
    .home-img img {
        width: 40vw; 
        margin-bottom: 3rem;
    }
    .about {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }
    .about-content h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .about-content h3 {
        text-align: center;
    }
    .about-img img {
        width: 50vw; 
    }
    .footer ul {
        flex-wrap: wrap; 
    }
    .footer ul li {
        margin: 1rem 1.5rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 99;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        }
    }